#wrap {
  width: 100%;
  height: 100%;
  user-select: none;

  #header {
    width: 100%;
    height: 70px;
    background: #eeeee9;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      h1 {
        width: 100%;
        font-size: 24px;
        font-weight: 600;
        color: #000;
        padding-left: 30px;
      }
    }
  }

  #main {
    width: 100%;
    height: auto;

    #todoSection {
      width: 100%;

      .container {
        width: 100%;

        .input-box {
          width: 100%;

          .input-container {
            width: 100%;
            padding: 10px 20px;
            position: relative;
            input {
              &[type='datetime-local'] {
                border: 1px solid #ccc;
                height: 40px;
                font-size: 16px;
                padding: 0 15px;
                border-radius: 3px;
              }

              &[type='text'] {
                z-index: 1;
                position: relative;
                width: 100%;
                height: 50px;
                border: 1px solid #ddd;
                border-radius: 3px;
                outline: 1px solid transparent;
                outline-offset: -1px;
                transition: all 0.3s;
                font-size: 16px;
                color: #333;
                padding: 0 15px;
                background: rgba(0, 0, 0, 0.03);
                border-radius: 3px;
                margin-top: 10px;
              }
            }

            button {
              border: 0;
              background: none;
              width: 50px;
              height: 50px;
              position: absolute;
              right: 20px;
              top: 50px;
              z-index: 2;
              margin-top: 10px;
              background: #ddd;
              border-radius: 3px;
              cursor: pointer;
              transform: scale(0.95);

              img {
                width: 35px;
              }
            }

            input {
              &::placeholder {
                color: #aaa;
              }

              &:focus {
                outline-color: #777;
              }
            }
          }
        }

        .list-box {
          width: 100%;

          .list-container {
            width: 100%;

            hr {
              width: 100%;
              border: 0;
            }

            .title {
              width: 100%;
              padding: 20px 0 20px 20px;
              h3 {
                width: 100%;
                font-size: 17px;

                strong {
                  font-weight: 500;
                }

                span {
                  color: #999;
                  letter-spacing: 1px;
                  font-weight: 500;
                }
              }
              &.title1 {
                h3 {
                  font-size: 17px;
                  strong {
                    color: #39c;
                    font-weight: 500;
                  }
                  span {
                    color: #999;
                    font-weight: 500;
                  }
                }
              }
              &.title2 {
                h3 {
                  font-size: 17px;
                  strong {
                    color: #999;
                    font-weight: 300;
                  }
                  span {
                    color: #999;
                    font-weight: 500;
                  }
                }                
              }
            }

            ul {
              width: 100%;
              padding: 0;
              li {
                width: 100%;
                border-bottom: 1px solid #eee;
                padding-left: 20px;
                &:first-child {
                   border-top: 1px solid #eee;
                }
                &:hover {
                  background: rgba(0, 0, 0, 0.02);
                }
                &.on {
                  background: rgba(0, 0, 0, 0.04);
                }

                > div {
                  width: 100%;
                  height: 100%;
                  padding: 10px 20px 10px 0;
                  display: flex;
                  position: relative;
                  align-items: center;
                  justify-content: space-between;
                  .left-box {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    input[type='checkbox'] {
                      width: 20px;
                      height: 20px;
                      margin-right: 15px;
                      appearance: none;
                      border: 1px solid #aaa;
                      border-radius: 5px;
                      &:checked {
                        background: url(../../../../../public/img/check_24dp_5F6368_FILL0_wght300_GRAD0_opsz24_red.svg) no-repeat 50% 50%;
                        background-size: 13px auto;                      
                      }
                    }
                    p {
                      // width: calc(100% - 100px);
                      width: auto;
                      height: 35px;
                      display: flex;
                      align-items: center;
                      font-size: 15px;
                      justify-content: space-between;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      strong{
                        font-weight: 400;
                        color: #333; 
                        font-size: 15px;                     
                      }
                      span {
                        color: #555;
                        margin-right: 20px;
                        font-size: 15px;                     
                      }                   
                    }
                  }
                  .right-box {
                    display: flex;
                    button.del-btn {
                      width: 25px;
                      height: 25px;
                      margin-right: 10px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                      cursor: pointer;
                      transform: translate(10px, 0);                    
                      background: url(../../../../../public/img/close_24dp_5F6368_FILL0_wght300_GRAD0_opsz24.svg) no-repeat 50% 50%;
                      background-size: 14px 14px;
                      transition: all 0.3s;
                      &:hover {   
                        border-color:  rgba(204, 0, 0, 0.5);
                        background-image: url(../../../../../public/img/close_24dp_5F6368_FILL0_wght300_GRAD0_opsz24_red.svg);
                      }
                    }

                    .update-box {
                      height: 100%;
                      display: flex;
                      align-items: center;
                      button {
                        width: 40px;
                        height: 25px;
                        background: none;
                        color: #555;
                        border: 1px solid #ccc;
                        margin: 0 2px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover {
                          color: #c00;
                          border-color:  rgba(204, 0, 0, 0.5);
                        }
                      }
                    }
                  }
                }

                &.completed {
                  > div {
                    p{
                      strong{
                        color: #ccc;
                        text-decoration: line-through;
                      }
                      span {
                        color: #ccc;
                        text-decoration: line-through;
                      }
                    }
                  }                
                }
              }
            }


            .pagenation-box{
                width: 100%;  
                display: flex;
                justify-content: center;
                padding: 50px 0;
                ul {
                  width: auto;
                  display: flex;
                  li {
                    width: auto;
                    padding: 0;
                    margin: 0;
                      a {
                        margin: 0 2px;
                        font-size: 14px;
                        color: #444;
                        display: flex;
                        width: 42px;
                        height: 40px;
                        border: 1px solid #999;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s;
                        background: #fff;
                        &:hover {
                          border: 1px solid #000;
                          color: #000;
                        }  
                        &.on{
                          background: #232323;
                          color: #fff;
                        }
                      }
                  }
                }
                button{
                    margin: 0 2px;
                    font-size: 14px;
                    color: #444;
                    width: 42px;
                    height: 40px;
                    border: 1px solid #999;
                    transition: all 0.3s;
                    background: #fff;
                    &.icon1 {
                        font-size: 21px;
                    }
                    &.icon2 {
                        font-size: 16px;
                    }
                    &:hover {
                        border: 1px solid #000;
                        color: #000;
                    }  
                    &.on{
                        background: #232323;
                        color: #fff;
                    }
                }
            }
          }
        }
      }
    }
  }

  #footer {
    width: 100%;
    height: 40px;
    background: #eeeee9;
    display: flex;
    align-items: center;

    p {
      width: 100%;
      text-align: center;
      font-size: 11px;
      color: #999;
    }
  }
}

@media all and (max-width: 600px) {
  #wrap #main #todoSection .container .list-box .list-container ul li > div p span {
    display: none;
  }
}
